{
	"HIS" : {
		"username"           : "",
		"password"           : "",
		"url"                : "{URL_TO_HIS_IN_ONE}/qisserver/services2/",
		"soap_caching"       : "0",
		"soap_debug"         : "false",
		"actual_ter_id"      : null,
		"actual_term_year"   : null,
		"endpoint"           : {
			"register_listener"  : "true",
			"listener_url"       : "",
			"listener_port"      : "",
			"username"           : "",
			"password"           : ""
		},
		"person_id_type" : "ecs_loginUID",
		"login_suffix" : "",
		"blocked_ids" : [],
		"text" : {
			"current_term" : "getDefaultText",
			"event_type"   : "getDefaultText",
			"plan_element" : "getDefaultText",
			"term"         : "getDefaultText",
			"unit"         : "getDefaultText"
		}
	},
	"ECS" : {
		"auth_id"             : "",
		"password"            : "",
		"url"                 : "",
		"ssl_validation"      : ""
		},
		"HIStoECSMapping": {
			"SYSTEM_ID_HIS" : "SYSTEM_ID_ECS (MembershipID (mid) Community)"
		},
		"HIStoECSCourseMapping" : {
			"COURSE_TYPE_ID_HIS" : "COURSE_TYPE_ID_ECS"
		},
	"path_to_queue"          : "",
	"path_to_log"            : "",
	"keep_elements_in_queue" : "",
	"queue_timer"            : "",
	"debug"                  : "",
	"PHPUnit"                : {
			"coverage" : "true"
	}
}