{
	"HIS" : {
		"username"           : "",
		"password"           : "",
		"url"                : "test/wsdl",
		"soap_caching"       : "0",
		"soap_debug"         : "false",
		"actual_ter_id"      : null,
		"actual_term_year"   : null,
		"endpoint"           : {
			"register_listener"  : "true",
			"listener_url"       : "",
			"listener_port"      : "",
			"username"           : "",
			"password"           : ""
		}
	},
	"ECS" : {
		"auth_id"             : "",
		"password"            : "",
		"receiver_memberships": "1",
		"url"                 : "",
		"ssl_validation"      : ""
	},
		"HIStoECSMapping": {
			"SYSTEM_ID_HIS" : "SYSTEM_ID_ECS"
	},
	"path_to_queue"          : "",
	"path_to_log"            : "",
	"keep_elements_in_queue" : "",
	"queue_timer"            : "",
	"debug"                  : "",
	"PHPUnit"                : {
			"coverage" : "true"
	}
}